* {
	margin: 0;
	padding: 0;
}

.container{
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
}

.inner{
	display: table-cell;
	vertical-align: middle;
}

.content{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}