* {
	margin: 0;
	padding: 0;
}

html{
	background-image: url(footer_lodyas.png);
	background-repeat: repeat;
}

.container{
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
}

.inner{
	display: table-cell;
	vertical-align: middle;
}

.content{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

h1{
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0, 0, 23px, 0;
}

h2{
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0, 0, 23px, 0;
}

h3{
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0, 0, 23px, 0;
}

a{
	text-decoration: underline;
	color: white;
	font-weight: 700;
	transition: .31415s;
}

a:hover{
	color: #6AA427;
}

a i{
	padding-left: 10px;
	padding-right: 10px;
}