* {
	margin: 0;
	padding: 0;
}

html{
	background-image: url(footer_lodyas.png);
	background-repeat: repeat;
}

.container{
	position: absolute;
	display: table;
	height: 100%;
	width: 100%;
}

.inner{
	display: table-cell;
	vertical-align: middle;
}

.content{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	
}

.navbar a:link{
	text-decoration: none;
	font-family: 'Alegreya', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: white;
}

.navbar a:visited{
	text-decoration: none;
	font-family: 'Alegreya', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: white;
}

.navbar a:hover{
	text-decoration: none;
	font-family: 'Alegreya', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #00C5DB;
}

h1{
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 58px;
	line-height: 58px;
	margin: 0, 0, 43px, 0;
	padding-bottom: 25px;
}

p{
	font-family: 'Alegreya', serif;
	font-weight: 400;
	font-size: 16px
	line-height: 16px;
	margin: 0, 0, 0, 0;
}